.menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* position: fixed; */
    top: 0;
    /* padding-right: 20px; */
}
.menu li:first-child {
    margin-right: auto;
    font-family: Noto Sans TC;
    z-index: 3;
  }
.menu li:last-child {
      padding-right: 40px;
  }
.menu .logo{
      color: white;
      font-size: 40px;
      font-family: 'Satisfy', cursive;
  }
.menu a {
    margin: 10px;
    display: block;
    padding: 10px;
    text-decoration: none;
    font-family: Noto Sans TC;
    font-size: 25px;
    color: black;
  }
.menu a:hover {
    border-bottom: 1px solid black;
}
.menu a:active {
    border-bottom: 1px solid black;
}