
body {
    background: linear-gradient(90deg, #FFC0CB 50%, rgb(130, 240, 189) 50%);
}
main {
    flex: 1;
}

.row {
    z-index: 2;
    padding: 30px;
    text-align: center;
    font-weight: bold;
    font-family: Noto Sans TC;
    width: 50%;
    height: 48%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.column1 {
    width: 50%;
    height: 100%;
   }
.marta {
    height: 100%;
    width: 70%;
    vertical-align: middle;
    object-fit: cover;
}
h2 {
    color: black;
    font-family: Noto Sans TC;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
}
p {
    color: black;
    font-family: Noto Sans TC;
    font-size: 15px;
    padding: 15px;
}
.column2 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media only screen and (max-width: 600px) {
    main {
        margin-top: 150px;
    }
    .marta {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
    .row {
        position: relative;
        flex-direction: column;
    }
    .column1 {
        flex-direction: column;
    }
    .column2 {
        width: 100%;
    }
    p {
        font-size: 2vw;
    }
}


