.wrap-message {
    height: 100%;
    /* position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) */
}
.message {
    font-family: Noto Sans TC;
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
a {
    text-decoration: none;
}