body, html {
    /* height: 100%; */
}
.message {
    position: relative;
    height: 100vh;
}
.wrapImage {
    width: 100vw;
    height: 100vh;
}
img {
    width: 100%; 
    height: 100%;
    display: block;
    object-fit: cover;
    /*background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}
.wrapText {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: PT Sans;
}