

body, html {
    /* height: 100%; */
    background-color: white;
}
.message {
    position: relative;
    height: 100vh;
}
.wrapImage {
    width: 100vw;
    height: 100vh;
}
img {
    width: 100%; 
    height: 100%;
    display: block;
    object-fit: cover;
    /*background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}
.wrapText {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: PT Sans;
}
.intro {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: PT Sans;

}
h1 {
    margin-left: 80px;
    margin-right: 80px;
    color: white;
}
.fabs  {
    display: block;
    width: 10%;
    margin: auto;
    display: flex; 
    justify-content: space-around; 
    position: absolute;
    bottom: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); 
    color: white;
    font-size: 30px;
}