.footer1 {
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    justify-content: flex-end;
    z-index: 3;
    position: fixed;
  }
.rights {
    color: black;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    font-size: 15px;
}
.icons {
    width: 10%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.fab {
    font-size: 40px;
}
.fa-linkedin {
    color: black;
}
.fa-github {
    color: black;
}
.fa-github:hover {
    color: #f442e5;
    -webkit-transition: color .5s;
     transition: color .5s
}
.fa-linkedin:hover {
    color: rgb(130, 240, 189);
    -webkit-transition: color .5s;
    transition: color .5s
}
@media (max-width: 600px) {
    .footer1 {
        position: fixed;
    }
    .rights {
        padding-top: 10px;
        font-size: 3vw;
    }
    .icons {
        padding-top: 10px;
        width: 25%;
    }
}