.footer1 {
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    justify-content: flex-end;
    z-index: 3;
    position: fixed;
  }
.rights {
    color: black;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    font-size: 15px;
}